In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('Data/restaurant_photos.csv')

In [18]:
df.head()

,business_id,photo_id,caption,label,categories
0,Nk-SJhPlDBkAZvfsADtccA,zsvj7vloL4L5jhYyPIuVwg,Nice rock artwork everywhere and craploads of ...,inside,"['Restaurants', 'Pubs', 'Nightlife', 'American..."
1,yVZtL5MmrpiivyCIrVkGgA,HCUdRJHHm_e0OCTlZetGLg,NaN,outside,"['Barbeque', 'Sandwiches', 'American (Traditio..."
2,_ab50qdWOk0DdB6XOrBitw,vkr8T0scuJmGVvN2HJelEA,oyster shooter,drink,"['Live/Raw Food', 'Seafood', 'Restaurants', 'C..."
3,SZU9c8V2GuREDN5KgyHFJw,pve7D6NUrafHW3EAORubyw,Shrimp scampi,food,"['Live/Raw Food', 'Restaurants', 'Seafood', 'B..."
4,Gzur0f0XMkrVxIwYJvOt2g,H52Er-uBg6rNrHcReWTD2w,NaN,food,"['Restaurants', 'Vegan', 'Food', 'Ice Cream & ..."

In [19]:
cats = df['categories']

freqs = cats.value_counts()

In [20]:
df.shape

(170467, 5)

In [21]:
from ast import literal_eval
from collections import Counter


# Manual conversion of string representation of lists into actual lists
df['categories'] = df['categories'].apply(lambda x: x.strip("[]").replace("'", "").split(", "))

# Flatten the list of lists
all_values = [item for sublist in df['categories'] for item in sublist]

# Count the frequency of each unique value
frequency = Counter(all_values)

In [22]:
sorted_ = sorted(frequency.items(), key=lambda x: x[1], reverse=True)

In [23]:
sorted_[1:11]

# Store the most frequent categories in a list
most_common = [x[0] for x in sorted_[1:6]]

most_common

['Food', 'Nightlife', 'Bars', 'American (Traditional)', 'American (New)']

In [24]:
df.head()

# Filter the dataframe to only include the most common categories
df_filtered = df[df['categories'].apply(lambda x: any(item for item in x if item in most_common))]

In [25]:
df_filtered.shape

(116036, 5)

In [26]:
df_filtered.head()

,business_id,photo_id,caption,label,categories
0,Nk-SJhPlDBkAZvfsADtccA,zsvj7vloL4L5jhYyPIuVwg,Nice rock artwork everywhere and craploads of ...,inside,"[Restaurants, Pubs, Nightlife, American (Tradi..."
1,yVZtL5MmrpiivyCIrVkGgA,HCUdRJHHm_e0OCTlZetGLg,NaN,outside,"[Barbeque, Sandwiches, American (Traditional),..."
3,SZU9c8V2GuREDN5KgyHFJw,pve7D6NUrafHW3EAORubyw,Shrimp scampi,food,"[Live/Raw Food, Restaurants, Seafood, Beer Bar..."
4,Gzur0f0XMkrVxIwYJvOt2g,H52Er-uBg6rNrHcReWTD2w,NaN,food,"[Restaurants, Vegan, Food, Ice Cream & Frozen ..."
5,jl38yx7zzMRbg-kOK8NLDw,wZ29mUm6nKz566j17OBadw,NaN,food,"[German, Bars, Gluten-Free, Nightlife, Pubs, A..."

In [27]:
filtDFs = []
for category in most_common:
    cat_df = df_filtered[df_filtered['categories'].apply(lambda x: category in x)]
    limited_df = cat_df.sample(5000)

    filtDFs.append(limited_df)

finalDF = pd.concat(filtDFs)

finalDF.shape

(25000, 5)

In [28]:
finalDF.head()

,business_id,photo_id,caption,label,categories
76507,W72rYffSVg0pIaOpRgNniw,oFpKzXAdt-uyQrn7hNGQ-Q,NaN,inside,"[Restaurants, Food, Pizza]"
114542,gwxNttwUgmOn3vsHYe0pDQ,3PtqL1U7IUkbeYSjUPaZ7g,NaN,food,"[Restaurants, Coffee & Tea, Gluten-Free, Food,..."
80190,fZzvYELAKZ0A8wePhHvdiQ,-yK3p8JYmxqep8lK2PQhfw,NaN,food,"[Cafes, American (Traditional), Bakeries, Rest..."
103534,fE8Vyo9HwsQIE9z3KuoWUw,uVyoWRe1fKZSR55QMAOFog,Catch of the Day: Scallops.,food,"[Italian, Restaurants, Pizza, Food, Pasta Shop..."
66088,dgyKoIYEYrmRK_hktWBZdA,G3ruZm73_1lepdvo40TOrg,NaN,outside,"[Cocktail Bars, Seafood, American (Traditional..."

In [29]:
def keepOnlyMostCommon(x):
    return [item for item in x if item in most_common]


# For category in most_common, keep only the most common categories
finalDF['categories'] = finalDF['categories'].apply(keepOnlyMostCommon)

finalDF.head()

,business_id,photo_id,caption,label,categories
76507,W72rYffSVg0pIaOpRgNniw,oFpKzXAdt-uyQrn7hNGQ-Q,NaN,inside,[Food]
114542,gwxNttwUgmOn3vsHYe0pDQ,3PtqL1U7IUkbeYSjUPaZ7g,NaN,food,[Food]
80190,fZzvYELAKZ0A8wePhHvdiQ,-yK3p8JYmxqep8lK2PQhfw,NaN,food,"[American (Traditional), Food]"
103534,fE8Vyo9HwsQIE9z3KuoWUw,uVyoWRe1fKZSR55QMAOFog,Catch of the Day: Scallops.,food,[Food]
66088,dgyKoIYEYrmRK_hktWBZdA,G3ruZm73_1lepdvo40TOrg,NaN,outside,"[American (Traditional), Food, Bars, Nightlife]"

In [30]:
# Save finalDF to a csv file
finalDF.to_csv('Data/restaurant_photos_filtered.csv', index=False)