In [9]:

import csv
import json
import pandas as pd


'''
business_id,categories
MTSW4McQd7CbVtyjqoe9mw,"Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries"

photo_id,business_id,caption,label
zsvj7vloL4L5jhYyPIuVwg,Nk-SJhPlDBkAZvfsADtccA,Nice rock artwork everywhere and craploads of taps.,inside

'''

'\nbusiness_id,categories\nMTSW4McQd7CbVtyjqoe9mw,"Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries"\n\nphoto_id,business_id,caption,label\nzsvj7vloL4L5jhYyPIuVwg,Nk-SJhPlDBkAZvfsADtccA,Nice rock artwork everywhere and craploads of taps.,inside\n\n'

In [10]:
df = pd.read_csv('Data/business_restaurant.csv')
df.head()

              business_id                                         categories
0  MTSW4McQd7CbVtyjqoe9mw  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
1  CF33F8-E6oudUQ46HnavjQ  Burgers, Fast Food, Sandwiches, Food, Ice Crea...
2  k0hlBqXX-Bt0vf1op7Jr1w  Pubs, Restaurants, Italian, Bars, American (Tr...
3  bBDDEgkFA1Otx9Lfe7BZUQ  Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
4  eEOYSgkmpB90uNA7lDOMRA         Vietnamese, Food, Restaurants, Food Trucks

In [11]:
df['categories'] = df['categories'].apply(lambda x: x.split(', '))
df.head()

              business_id                                         categories
0  MTSW4McQd7CbVtyjqoe9mw  [Restaurants, Food, Bubble Tea, Coffee & Tea, ...
1  CF33F8-E6oudUQ46HnavjQ  [Burgers, Fast Food, Sandwiches, Food, Ice Cre...
2  k0hlBqXX-Bt0vf1op7Jr1w  [Pubs, Restaurants, Italian, Bars, American (T...
3  bBDDEgkFA1Otx9Lfe7BZUQ  [Ice Cream & Frozen Yogurt, Fast Food, Burgers...
4  eEOYSgkmpB90uNA7lDOMRA       [Vietnamese, Food, Restaurants, Food Trucks]

In [14]:
df2= pd.read_csv("Data/restaurant_photos.csv",lineterminator='\n')

In [15]:
df2.head()

,photo_id,business_id,caption,label
0,zsvj7vloL4L5jhYyPIuVwg,Nk-SJhPlDBkAZvfsADtccA,Nice rock artwork everywhere and craploads of ...,inside
1,HCUdRJHHm_e0OCTlZetGLg,yVZtL5MmrpiivyCIrVkGgA,NaN,outside
2,vkr8T0scuJmGVvN2HJelEA,_ab50qdWOk0DdB6XOrBitw,oyster shooter,drink
3,pve7D6NUrafHW3EAORubyw,SZU9c8V2GuREDN5KgyHFJw,Shrimp scampi,food
4,H52Er-uBg6rNrHcReWTD2w,Gzur0f0XMkrVxIwYJvOt2g,NaN,food

In [16]:
df2['categories'] = ""
df2.head()

,photo_id,business_id,caption,label,categories
0,zsvj7vloL4L5jhYyPIuVwg,Nk-SJhPlDBkAZvfsADtccA,Nice rock artwork everywhere and craploads of ...,inside,
1,HCUdRJHHm_e0OCTlZetGLg,yVZtL5MmrpiivyCIrVkGgA,NaN,outside,
2,vkr8T0scuJmGVvN2HJelEA,_ab50qdWOk0DdB6XOrBitw,oyster shooter,drink,
3,pve7D6NUrafHW3EAORubyw,SZU9c8V2GuREDN5KgyHFJw,Shrimp scampi,food,
4,H52Er-uBg6rNrHcReWTD2w,Gzur0f0XMkrVxIwYJvOt2g,NaN,food,

In [21]:
# Import pandas and tqdm (if you're using tqdm for progress tracking in other parts of your code)
import pandas as pd
from tqdm.auto import tqdm

# Assuming 'df' and 'df2' are your pandas DataFrames and both have a 'business_id' column
# First, ensure that 'business_id' is the index for both DataFrames to speed up lookup
df.set_index('business_id', inplace=True)
df2.set_index('business_id', inplace=True)

# Use .loc to update 'categories' in df2 based on the index match
# tqdm can be used to show progress on operations that can be monitored, but in this case, the merge operation is atomic and efficient, so tqdm might not be necessary
df2['categories'] = df2.index.map(df['categories'])

# If you need to reset the index after the operation
df.reset_index(inplace=True)
df2.reset_index(inplace=True)

c:\Users\Bhavin\miniconda3\envs\dlproject\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [22]:
df2.head()

,business_id,photo_id,caption,label,categories
0,Nk-SJhPlDBkAZvfsADtccA,zsvj7vloL4L5jhYyPIuVwg,Nice rock artwork everywhere and craploads of ...,inside,"[Restaurants, Pubs, Nightlife, American (Tradi..."
1,yVZtL5MmrpiivyCIrVkGgA,HCUdRJHHm_e0OCTlZetGLg,NaN,outside,"[Barbeque, Sandwiches, American (Traditional),..."
2,_ab50qdWOk0DdB6XOrBitw,vkr8T0scuJmGVvN2HJelEA,oyster shooter,drink,"[Live/Raw Food, Seafood, Restaurants, Cajun/Cr..."
3,SZU9c8V2GuREDN5KgyHFJw,pve7D6NUrafHW3EAORubyw,Shrimp scampi,food,"[Live/Raw Food, Restaurants, Seafood, Beer Bar..."
4,Gzur0f0XMkrVxIwYJvOt2g,H52Er-uBg6rNrHcReWTD2w,NaN,food,"[Restaurants, Vegan, Food, Ice Cream & Frozen ..."

In [23]:
#write df2 to a csv file
df2.to_csv('Data/restaurant_photos.csv', index=False)